<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="HumanResources" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=temple;User Id=hr;Password=oracle"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="temple" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.183)(PORT=49161))(CONNECT_DATA=(SERVICE_NAME=xe))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>